.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar-brand {
    display: flex;
    padding: 0;
}

.navbar {
    padding: 0;
}

.navbar img {
    width: 20%;
    height: 13%;
}

.navbar p {
    margin: auto 0;
    padding-left: 1em;
}
