.zoom {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  
  .zoom:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: auto;
  }